/* Styles go here */
body {
  color: #DDD;
  background: #87BBCC;
}
.card {
    border-radius: 10px;
    margin: 8px;
    border: 2px solid black;
    width: 130px;
    height: 180;
}
/* entire container, keeps perspective */
.red {
  color: red;
}

.title {
  font-style: oblique;
  letter-spacing: 3px;
  font-size: 50px;
  font-family: monospace;
}
.score-board {
  border: 2px solid #999;
  border-radius: 10px;
  padding: 15px;
  background-color: #29b;
  box-shadow: 0px 5px 5px black;
}
.score-board input{
  color: black;
}
.flip-container{
    width: 130px;
    height: 180px;
    perspective: 1000;
    margin: 8px;
}
/* flip the pane when hovered */
.flipped {
    /*transform*/
    transform: rotateY(180deg);
    left: 45px;
}


/* flip speed goes here */

.flipper {
    /*transition*/
    transition: 0.6s;
    /*transform-style*/
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
}

/* front pane, placed above back */

.front {
    z-index: 2;

}
/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}
